<h1>este es el carrito </h1>
<div>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">carrito ID = </th>

    </tr>
  </thead>
  <tbody>

    {{#each carrito}}
        <tr>
            <th scope="row">{{this.id}}</th>
        </tr>
    {{/each}}
  </tbody>
</table>

</div>